
<mat-card>
    <mat-card-title>
      i18n-manager
    </mat-card-title>
    <mat-card-subtitle style="text-align: center; font-size: 20px; margin-top: 10px;">Login</mat-card-subtitle>
<mat-card-content>
<form (ngSubmit)="onSubmit()" *ngIf="!(authService.user | async)">
  <p>
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="user.email" name="email" placeholder="Email">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput [(ngModel)]="user.password" name="password" placeholder="Password">
    </mat-form-field>
  </p>


  <div class="button">
    <button type="submit"  mat-button>Login</button>
    <button (click)="mainPage()"  mat-button>Mainpage</button>
  </div>
 
</form>
<div class="button">
  <button type="submit" (click)="logout()" *ngIf="authService.user | async" mat-button>Logout</button>
</div>

</mat-card-content>
</mat-card>
