<mat-toolbar color="primary">
    
   <span style="font-size:15px;">Show</span>
   <mat-form-field style="margin-left:5px;">
    <mat-select style="font-size:15px;">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <span class="flex-spacer"></span>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search"  placeholder="search here">
  </mat-form-field>

   <span class="flex-spacer"></span>
    <a mat-button (click)="logout()"><span class="logout-btn fa fa-sign-out"></span> Logout</a>
  </mat-toolbar>


